<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/javascripts/movie.js"></script>
    </head>  
          <div style="margin: 20;">
            <input type="text" id="txt">
          </div>
   
       
            <div id="result" style="flex-wrap: wrap; display: flex;flex-direction: row;">
            </div>    
         

    
</html>